/* Logo */

.navbar-brand img {
	filter: invert(100%) brightness(200%);
}


/* Main Navigation */

#nav-main {
	background-color: #c6538c !important;
	border-bottom: none !important;
}

.nav-link {
	color: #ffffff !important;
	transition: all .3s
}

.nav-link.active,
.nav-link:hover {
	color: #003366!important;
	transition: all .3s
}

.active>.nav-link {
	color: #003366!important
}


/* Body */

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #669999;
}

body {
	color: #808c99;
	background: #f2f2f2;
}

body a {
	color: #c6538c;
}

.bg-dark {
	background-color: #003366 !important;
}


/* Buttons */

.btn-outline-primary {
	color: #c6538c;
	background-color: transparent;
	background-image: none;
	border-color: #c6538c;
}


/* Sidebar */

.card-header {
	background: #c6538c;
}


/* Footer */

.bootscore-footer {
	background-color: #c6538c !important;
	border-top: none !important;
	color: #ffffff;
}

.bootscore-footer a,
.footer-menu a.nav-link {
	color: #003366 !important;
	transition: all .3s;
}

.bootscore-footer a:hover,
.footer-menu a.nav-link:hover {
	color: #ffffff !important;
	text-decoration: none;
}

.bootscore-info {
	background-color: #c6538c !important;
	border-top: 1px solid #ffffff !important;
	color: #ffffff !important;
}