/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v18-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/roboto-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v18-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v18-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('../fonts/roboto-v18-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v18-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v18-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v18-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v18-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}

body {
	font-family: 'Roboto', sans-serif;
	word-wrap: break-word;
	-ms-word-wrap: break-word;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 700 !important;
}

.breadcrumb {
    hyphens: auto;
    -webkit-hyphens: auto;
  	-moz-hyphens: auto;
  	-ms-hyphens: auto;
}

@media (max-width: 1200px) {
    .display-1 {
        font-size: calc(1.725rem + 5.7vw) !important;
    }
    
    .display-2 {
        font-size: calc(1.675rem + 5.1vw) !important;
    }
    
    .display-3 {
        font-size: calc(1.575rem + 3.9vw) !important;
    }
    
    .display-4 {
        font-size: calc(1.475rem + 2.7vw) !important;
    }
    
    h1, .h1 {
        font-size: calc(1.35rem + 1.2vw) !important;
    }
    
    h2, .h2 {
        font-size: calc(1.3rem + .6vw) !important;
    }
    
    h3, .h3 {
        font-size: calc(1.275rem + .3vw) !important;
    }

    h4, .h4 {
        font-size: calc(1.25rem + 0vw) !important;
    }
}


