.nav-link:focus {
    outline: 0
}

@media (min-width:576px) and (max-width:1023px) {
    .navbar>.container {
        padding-right: 16px!important;
        padding-left: 16px!important
    }
}

@media (min-width:992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0 !important;
        padding-left: 1rem !important;
    }
}

.navbar-toggler {
    padding: 0!important;
    border: none!important;
    margin-right: -1px;
    z-index: 9
}

.navbar-toggler:focus {
    outline: 0 dotted;
    outline: 0 auto -webkit-focus-ring-color
}

.toggler-icon,
.toggler-icon-animated {
    width: 25px;
    height: 17px;
    position: relative;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 1
}

.toggler-icon span,
.toggler-icon-animated span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out
}

.toggler-icon span:nth-child(1),
.toggler-icon-animated span:nth-child(1) {
    top: 0
}

.toggler-icon span:nth-child(2),
.toggler-icon span:nth-child(3),
.toggler-icon-animated span:nth-child(2),
.toggler-icon-animated span:nth-child(3) {
    top: 7px
}

.toggler-icon span:nth-child(4),
.toggler-icon-animated span:nth-child(4) {
    top: 14px
}

.toggler-icon-animated.open span:nth-child(1),
.toggler-icon-animated.open span:nth-child(4) {
    top: 11px;
    width: 0%;
    left: 50%
}

.toggler-icon-animated.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg)
}

.toggler-icon-animated.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.top-nav-search-mobile .dropdown-menu.show {
    width: 100%;
    margin-top: -1px
}

@media (max-width:991px) {
    .top-nav-search-mobile {
        display: none!important
    }
    .top-nav-search-mobile.visible {
        display: block!important
    }
}