#to-top {
    height: 0;
    position: absolute;
    top: 0
}

.top-button {
    position: fixed;
    right: 5%;
    bottom: 30px;
    opacity: 0;
    transition: opacity 1s;
    z-index: 91;
}

.top-button.visible {
    opacity: 1;
    transition: opacity 1s
}