span.wpcf7-list-item {
    margin: 0;
}

span.wpcf7-not-valid-tip {
    display: none;
}

div.wpcf7 .ajax-loader {
    background-image: none;
    width: 0rem;
    height: 1rem;
    vertical-align: text-bottom;
    margin: 0;
    transition: margin .3s, width .3s;
}


div.wpcf7 .ajax-loader.is-active {
    width: 1rem !important;
    margin: 0 .5rem 0 0;
}

.screen-reader-response {
    display: none;
}


.wpcf7-display-none {
    display: none;
}



.wpcf7-not-valid {
    border-color: var(--danger) !important;
}

label.custom-control.custom-checkbox.not-valid {
    color: var(--danger);
}


label.custom-control.custom-checkbox.not-valid.checked {
    color: currentColor;
}