body {
	padding-top: 5rem;
}


/* index.php custom image */

.bootscore-banner {
	background-size: cover;
}


/* Admin Bar */

@media (max-width: 782px) {
	.logged-in.admin-bar .fixed-top {
		top: 46px;
	}
	#wpadminbar {
		position: fixed;
	}
}

@media (min-width: 783px) {
	.logged-in.admin-bar .fixed-top {
		top: 32px;
	}
}

.container.content {
	padding-bottom: 4.5rem
}

.content-area.no-title {
	margin-top: -5rem;
	margin-bottom: -3rem;
}


/* Full width*/

.width-100 {
	position: relative;
	width: 100vw;
	margin-left: -50vw;
	left: 50%;
}


/* HTML Markups */

img {
	height: auto;
	max-width: 100%;
}

.wp-post-image {
	width: 100%;
}

figure {
	max-width: 100%;
}

iframe {
	max-width: 100%;
}

pre {
	background: #f8f9fa;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
	border-radius: .25rem;
}

blockquote {
	background: #f8f9fa;
	border-radius: .25rem;
	padding: 1.25rem;
}

blockquote::before {
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content: "\f10d";
	font-size: xx-large;
	float: left;
    margin: -.1rem 1.25rem 0 0;
}


.wp-block-quote.is-style-large {
	margin: 0 0 1rem;
	padding: 1.25rem;
}


figure.wp-block-pullquote blockquote:before {
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content: "\f10d";
	font-size: xx-large;
	display: block;
	float: none;
}

q {
    padding: .2rem .4rem;
    font-size: 87.5%;
    background-color: #f8f9fa;
    border-radius: .2rem;
}

q::before {
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content: "\f10d";
	font-size: 87.5%;
	margin-right: .5rem;
}

.comment-content.card-block blockquote {
    padding: 0;
}

.comment-content.card-block q {
    padding: 0;
    font-size: 100%;
}


/* Button Reset */

.wp-block-button {
	color: #007bff;
	margin-bottom: none;
}

.wp-block-button:hover {
	color: #fff;
}

.wp-block-button__link {
	background-color: none !important;
	border: none;
	border-radius: none;
	box-shadow: none;
	color: inherit;
	cursor: pointer;
	display: inline-block;
	font-size: none;
	margin: 0;
	padding: none;
	text-align: center;
	text-decoration: none;
	white-space: normal;
	overflow-wrap: break-word;
}


/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/

.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}


/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/

.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}


/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}