.toggler-icon-animated span, .toggler-icon span {
	background-color: var(--secondary);
}

.toggler-icon-animated.open span {
	background-color: var(--primary);
}

::-moz-selection {
   color:#fff;
   background-color:var(--primary);
}

::selection {
   color:#fff;
   background-color:var(--primary);
}

#preloader {
    background-color: inherit;
}

pre {
	background-color: var(--light);
}

blockquote {
	background-color: var(--light);
}

q {
    background-color: var(--light);
}

.wp-block-button {
	color: var(--primary);
}

.wp-block-button:hover {
	color: #fff;
}
